CompileFlags:
  CompilationDatabase: build
  Add:
    - --target=arm-none-eabi
    - -I/Applications/ArmGNUToolchain/13.2.Rel1/arm-none-eabi/arm-none-eabi/include
    - -I/Applications/ArmGNUToolchain/13.2.Rel1/lib/gcc/arm-none-eabi/13.2.1/include
    - -I/Applications/ArmGNUToolchain/13.2.Rel1/lib/gcc/arm-none-eabi/13.2.1/include-fixed
  Remove:
    - -mfloat-abi=*
    - -mcmse
    - -march=*

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "-Wunused-*"
  ClangTidy:
    Remove:
      - bugprone-reserved-identifier
      - cert-dcl37-c
      - cert-dcl51-cpp

Index:
  Background: Build

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
