[submodule "reference/cps2_digiav"]
	path = reference/cps2_digiav
	url = https://github.com/marqs85/cps2_digiav.git
[submodule "reference/hsdaoh-rp2350"]
	path = reference/hsdaoh-rp2350
	url = https://github.com/steve-m/hsdaoh-rp2350.git
[submodule "lib/PicoDVI"]
	path = lib/PicoDVI
	url = https://github.com/Wren6991/PicoDVI.git
[submodule "reference/pico-examples"]
	path = reference/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "reference/pico_lib"]
	path = reference/pico_lib
	url = https://github.com/shuichitakano/pico_lib.git
